.container
.row
	clearfix()

.container
	margin-right auto
	margin-left auto
	padding-right gutter
	padding-left gutter
	max-width 100%
	.container
		width 100% !important

.row
	margin-right - gutter
	margin-left - gutter
	&.__inline
		font-size 0
		text(left)
		&:before
		&:after
			display none

generate_grid_classes(columns, suffix)
	$column
		width 100%
		padding-right gutter
		padding-left gutter
	$inline_column
		vertical-align middle
		display inline-block
		float none
		font-size medium
		font-size initial
	$inline_column_child
		font_size(14,16)
	for x in suffix
		for y in columns..1
			.col{x}_{y}
				@extend $column
			.col{x}_{y}.__inline
				@extend $inline_column
			.col{x}_{y}.__inline > div
				@extend $inline_column_child

generate_grid_float(columns, suffix)
	$float_{suffix}_{columns}
		float left
	for x in columns..1
		.col{suffix}_{x}
			@extend $float_{suffix}_{columns}

generate_grid(columns, suffix)
	for x in columns..1
		total = 100 / columns * x
		.col{suffix}_{x}
			width total+'%'

generate_grid_offset(columns, suffix)
	for x in columns..1
		total = 100 / columns * x
		.col{suffix}_offset_{x}
			margin-left total+'%'

generate_grid_classes(columns, '_xs' '_sm' '_md' '_lg' '_xl')

generate_grid_float(columns, '_xs')
generate_grid(columns, '_xs')
generate_grid_offset(columns, '_xs')

@media (min-width screen_sm_min)
	.container
		width screen_sm_min - gutter*2
	generate_grid_float(columns, '_sm')
	generate_grid(columns, '_sm')
	generate_grid_offset(columns, '_sm')

@media (min-width screen_md_min)
	.container
		width screen_md_min - gutter*2
	generate_grid_float(columns, '_md')
	generate_grid(columns, '_md')
	generate_grid_offset(columns, '_md')

@media (min-width: screen_lg_min)
	.container
		width screen_lg_min - gutter*2
	generate_grid_float(columns, '_lg')
	generate_grid(columns, '_lg')
	generate_grid_offset(columns, '_lg')

@media (min-width: screen_xl_min)
	.container
		width screen_xl_min - gutter*2
	generate_grid_float(columns, '_xl')
	generate_grid(columns, '_xl')
	generate_grid_offset(columns, '_xl')
