@require 'variables.styl'

.container
	box-sizing border-box
	margin-right auto
	margin-left auto
	padding-right gutter
	padding-left gutter
	max-width 1000px

.row
	margin-right - gutter
	margin-left - gutter

generate_grid_classes(columns, suffix)
	$column_{columns}
		position relative
		box-sizing border-box
		min-height 1px
		padding-right gutter
		padding-left gutter
	for x in suffix
		for y in columns..1
			.col{x}_{y}
				@extend $column_{columns}

generate_grid_float(columns, suffix)
	$float_{suffix}_{columns}
		float left
	for x in columns..1
		.col{suffix}_{x}
			@extend $float_{suffix}_{columns}

generate_grid(columns, suffix)
	for x in columns..1
		total = 100 / columns * x
		.col{suffix}_{x}
			width total+'%'

generate_grid_offset(columns, suffix)
	for x in columns..1
		total = 100 / columns * x
		.col{suffix}_offset_{x}
			margin-left total+'%'

generate_grid_classes(columns, '_xxs' '_xs' '_sm' '_md' '_lg' '_landscape')

generate_grid_float(columns, '_xxs')

generate_grid(columns, '_xxs')

generate_grid_offset(columns, '_xxs')

@media (min-width: width_xs)
	generate_grid_float(columns, '_xs')
	generate_grid(columns, '_xs')
	generate_grid_offset(columns, '_xs')

@media (orientation : landscape)
	generate_grid_float(columns, '_landscape')
	generate_grid(columns, '_landscape')
	generate_grid_offset(columns, '_landscape')

@media (min-width: width_sm)
	.container
		width width_sm
	generate_grid_float(columns, '_sm')
	generate_grid(columns, '_sm')
	generate_grid_offset(columns, '_sm')

@media (min-width: width_md)
	.container
		width width_md
	generate_grid_float(columns, '_md')
	generate_grid(columns, '_md')
	generate_grid_offset(columns, '_md')

@media (min-width: width_lg)
	.container
		width width_lg
	generate_grid_float(columns, '_lg')
	generate_grid(columns, '_lg')
	generate_grid_offset(columns, '_lg')

.container:before,
.container:after,
.row:before,
.row:after
	content " "
	display table

.container:after,
.row:after
	clear both