columns = 12
gutter = 7px

width_xs = 480px
width_sm = 768px
width_md = 1000px
width_lg = 1200px

color_main = #fff
color_second = #fff
color_text = #fff

font_main = Tahoma, Arial, Helvetica, sans-serif

h1 = 3.5em
h2 = 2.5em
h3 = 1.6em
h4 = 1.4em
h5 = 1.2em