doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Document
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="styles/reset.css")
		link(rel="stylesheet", href="styles/grid.css")
		link(rel="stylesheet", href="scripts/vendor/fontawesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="main.css")
		script(src='scripts/vendor/jquery/dist/jquery.min.js')
		script(src='scripts/vendor/flexslider/jquery.flexslider-min.js')
		script(src='scripts/local/main.js')
	body
		section.main_wrap
			header.main_header
				.container
			footer.main_footer
				.container