doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Document
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="styles/main.css")
	body
		section.main_wrap
			header.main_header
				.container
					.row
						.col_md_12
			main.main_content
			footer.main_footer
		//- script(src='scripts/vendor/jquery/dist/jquery.min.js')
		//- script(src='scripts/vendor/flexslider/jquery.flexslider-min.js')
		script(src='scripts/local/main.js')